:root {
  --heading-color: #be5409;

  --third-color: #9b633b;
  --fourth-color: #70533e;
  --font-color: #463a32;
  --bg-color: #fffcfa;
  --container-color: #f9f1ed;
  --box-shadow: hsla(0, 0%, 100%, 0.4);
}

html.dark {
  --bg-color: #1c1917;
  --heading-color: #f58a3d;
  --font-color: #dcbaa3;
  --container-color: #242220;
  --box-shadow: hsla(0, 0%, 0%, 0.4);
}

html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 2rem;
  line-height: 1.5;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--heading-color);
}

h2 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--heading-color);
}

p {
  color: var(--font-color);
  font-size: 1rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
  width: 100%;
  padding-inline: 1rem;
}

a {
  &:link {
    text-decoration: none;
    background-color: transparent;
    color: var(--font-color);
    font-size: 1.2em;
    position: relative;
  }

  &:visited {
    text-decoration: none;
    color: var(--font-color);
  }

  &:hover,
  &:focus-visible {
    color: var(--heading-color);
  }

  &:active {
    text-decoration: none;
  }
}

.grid {
  container-type: inline-size;
}

body > .footer {
  position: sticky;
  top: 100vh;
}
.blog-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.blog-list li:first-child {
  grid-column-end: span 3;
}

@container (width < 80ch) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-list li:first-child {
    grid-column-end: span 2;
  }

  code {
    padding-inline: 0.5rem;
  }
}

@container (max-width: 70ch) {
  .blog-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .blog-list li:first-child {
    grid-column-end: span 1;
  }
}
