---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import myPhoto from "../assets/images/me.jpg";

const pageTitle = "Home";
---

<Layout title={pageTitle}>
  <div class="grid">
    <div>
      <h1>Hey, I'm Mike</h1>
      <p>
        I am a mobile developer specialising in Android and React Native with a
        focus on building high-quality, cross-platform mobile applications.
      </p>
      <a href="/contact"><button><span>Contact Me</span></button></a>
    </div>
    <div class="img-wrapper">
      <Image
        src={myPhoto}
        alt="A photo of myself sat coding at a table overlooking the sea"
        height={400}
        class="img"
      />
    </div>
  </div>
</Layout>
<style>
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr minmax(200px, 400px);
    justify-content: center;
    align-items: center;
    padding-block: 8rem;
    gap: 1rem;
  }

  h1,
  p {
    margin-block-end: 4rem;
  }

  .img-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border-radius: 100%;
      inset: -0.5rem;
      z-index: 1;
      box-shadow: -10px -10px 100px 50px var(--bg-color) inset;
    }
  }

  .img {
    display: block;
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 100%;
  }

  button {
    background-color: var(--heading-color);
    color: var(--bg-color);
    font-family: inherit;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;

    &:hover,
    :focus-visible {
      background-color: var(--bg-color);
      color: var(--heading-color);
      outline: 1px solid var(--heading-color);
    }
  }

  @container (max-width: 70ch) {
    .grid {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .img {
      display: none;
    }
  }
</style>
