---
import "../styles/global.css";
interface Props {
  title: string;
  href: string | undefined;
  description: string;
  tags: Array<string>;
  publishDate: Date;
}

const { href, title, description, tags, publishDate } = Astro.props;
---

<li>
  <article>
    <a href={href}>
      <h2>
        {title}
      </h2>
    </a>
    <p>{description}</p>
    <p class="small">
      {publishDate.toDateString().split(" ").slice(1).join(" ")}
    </p>
  </article>
</li>

<style>
  li {
    list-style: none;
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 0.25rem;

    .small {
      font-size: 0.75rem;
    }

    a:hover {
      text-decoration: underline;
    }

    &:has(a:hover) {
      scale: 1.02;
    }
  }
</style>
