---
import "../styles/global.css";
interface Props {
  title: string;
  href: string | undefined;
  description: string;
  tags: Array<string>;
}

const { href, title, description, tags } = Astro.props;
---

<li class="wrapper">
  <a href={href}>
    <h2>
      {title}
    </h2>
    <p>{description}</p>
    <div>
      {tags.map((tag) => <span>{tag}</span>)}
    </div>
  </a>
</li>

<style>
  .wrapper {
    list-style: none;
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .wrapper:hover {
    scale: 1.02;
  }

  h2 {
    font-size: 2rem;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  span {
    font-size: 0.75rem;
    margin-inline-end: 0.5rem;
    padding: 0.5rem;
  }

  a:hover {
    color: var(--font-color);
  }
</style>
