---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} isMarkdown={true}>
  <p>
    Written by <a href="/about/">Mike Watkins</a>
  </p>
  <slot />
</Layout>

<style></style>
