---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h2 transition:name={frontmatter.title}>
    {frontmatter.title}
  </h2>

  <slot />
</Layout>

<style is:global>
  img {
    max-width: 100%;
    height: auto;
  }
</style>
